@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
.attribution {
    font-size: 0.6875em;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

* {
    box-sizing:border-box;
}

body {
    font-size:100%;
    background: url('../images/bg-pattern-top-mobile.svg') no-repeat , url('../images/bg-pattern-bottom-mobile.svg') no-repeat ;
    background-position: top, bottom;
    font-family: 'Spartan', sans-serif;
 }
h1 {
    color:hsl(300, 43%, 22%);
    font-weight:700;
    margin:0;
}
h4 {
    font-size:1em;
    margin:0;
}

#corpo-principal {
    text-align:center;
    display:flex;
    flex-direction:column;
    padding: 4.6875em 1.25em;  
}
#header-paragraph {
    margin:1.875em 0;
    color:hsl(303, 10%, 53%);
}
#classification {
    margin-top:1.25em;
}
#classification section {
    background-color: hsl(300, 24%, 96%);
    margin-bottom:0.625em;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:0.625em;
}
.stars {
    background:  url('../images/icon-star.svg')  space;
    width:6.3125em;
    height:1.0625em;
    margin: 0.9375em 0;
}
#classification section h4 {
    margin-bottom:1.25em;
    color:hsl(300, 43%, 22%);

}
#comments {
    margin-top:1.25em;
}
#comments .div-comments {
    color:white;
    border-radius:0.625em;
    margin-bottom:0.625em;
    padding:2.5em;
    background-color:hsl(300, 43%, 22%);
}
#comments .div-comments p {
    text-align:left;
    font-size:0.9375em;
    line-height: 1.3125em;
    margin:0;
}
.person {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin-bottom: 1.875em;
}
.person img {
    width:3.75em;
    height:auto;
    margin-right:1.5625em;
    border-radius:50%
}

.person h2, span {
    font-size:0.9375em;
    margin: 0.3125em;
}
.person span {
    color:hsl(333, 80%, 67%);

}

  
@media (min-width:1200px) {
   
    h1 {
            font-size:3em ;
        }
        
        #corpo-principal {
           
            flex-flow: row wrap;
            justify-content:space-between;
            text-align:left;
            padding: 5em;
        }
        #header-big {
            width:40%;
        }
        #classification {
            width:50%;
        }
        #classification section {
            flex-direction:row;
            align-items:center;
            width:83%;
            padding:1em;
            margin-bottom:3%;
        }
        #classification section:nth-child(1) {
            justify-self: stretch;
        }
        #classification section:nth-child(2) {
            margin-left:45.90625px;
        }
        #classification section:nth-child(3) {
            margin-left:auto;
        }
        #classification section h4 {
            margin:0em;
            margin-left:2em;

        }
        .stars {
            margin: 0 0 0 1.5em;
        }
        #comments {
            margin-top:2em;
            height:320px;
            display:flex;
            justify-content:space-between;
        }
        #comments .div-comments {
            width:32%;
        }
       #comments .div-comments:nth-child(1) {
           align-self:flex-start;
        }
       #comments .div-comments:nth-child(2) {
            align-self:center;
        }
    #comments .div-comments:nth-child(3) {
            align-self:flex-end;
        }
}

    @media (min-width: 1400px) { 
      
        h1 {
            font-size:3em ;
        }
        
        #corpo-principal {
            flex-flow: row wrap;
            justify-content:space-between;
            text-align:left;
            padding:5.5em 7em 0 7em;
        }
        #header-big {
            width:40%;
        }
        #classification {
            width:50%;
        }
        #classification section {
            flex-direction:row;
            align-items:center;
            width:83%;
            padding:1em;
            margin-bottom:3%;
        }
        #classification section:nth-child(1) {
            justify-self: stretch;
        }
        #classification section:nth-child(2) {
            margin-left:45.90625px;
        }
        #classification section:nth-child(3) {
            margin-left:auto;
        }
        #classification section h4 {
            margin:0em;
            margin-left:2em;

        }
        .stars {
            margin: 0 0 0 1.5em;
        }
        #comments {
            margin-top:2em;
            height:320px;
            display:flex;
            justify-content:space-between;
        }
        #comments .div-comments {
            width:32%;
        }
       #comments .div-comments:nth-child(1) {
           align-self:flex-start;
        }
       #comments .div-comments:nth-child(2) {
            align-self:center;
        }
    #comments .div-comments:nth-child(3) {
            align-self:flex-end;
        }
    }